@media (min-width: 1360px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767.98px) {
  .container-swiper {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 479.98px) {
  .container {
    --bs-gutter-x: 2rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  .promo__button:hover {
    background-color: #9fd3ff;
  }
  .navbar__button:hover {
    background-color: #333333;
    color: #FBFBFB;
    border-color: #333333;
  }
  .professions__card::before {
    content: "";
    position: absolute;
    width: 366px;
    height: 307px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid transparent;
    background: radial-gradient(66.53% 94.56% at 79.64% 25.24%, #7ACFE1 0%, #FFA5D1 100%) padding-box, radial-gradient(66.53% 94.56% at 79.64% 25.24%, #7ACFE1 0%, #FFA5D1 100%) border-box;
    border-radius: 30px;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: -1;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 1199.98px) {
  .professions__card::before {
    width: 248px;
    height: 312px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .professions__card:hover {
    border-color: transparent;
  }
  .professions__card:hover::before {
    opacity: 1;
  }
  .professions__card:hover .professions__card_period {
    color: #C790B6;
  }
  .professions__card:hover .professions__card_price_del svg path:nth-child(2) {
    stroke: #B0CDF7;
  }
}
header.header {
  padding-top: 16px;
  padding-bottom: 0;
}
@media (min-width: 1360px) {
  header.header .container {
    padding-left: 0;
    padding-right: 0;
  }
}
header .logo__link {
  margin-right: 78px;
}
@media (max-width: 991.98px) {
  header .logo__link {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  header .logo__image {
    width: 163.03px;
    height: 40px;
  }
}
header .navbar-nav {
  margin-top: 20px;
}
header .navbar-nav .nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  padding: 0;
  padding-left: 0;
}
header .navbar-toggler {
  align-self: center;
  border: none;
  outline: 0;
}
header .navbar-toggler:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}
header .navbar-expand-lg .navbar-nav .nav-item {
  padding-left: 0;
  padding-right: 40px;
}
header .navbar-expand-lg .navbar-nav .nav-item:last-child {
  padding-right: 0;
}
header .navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
}
header .navbar__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1461d2;
  border: 1px solid #1461d2;
  border-radius: 8px;
  background: #FFFFFF;
  padding: 14px 30px;
  margin-top: 5px;
}
@media (max-width: 991.98px) {
  header .navbar-nav {
    margin-bottom: 24px;
  }
  header .navbar-nav li {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.promo {
  height: 90px;
  background-color: #003277;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.promo::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url("../img/building.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 176px) 0;
  background-size: 159px 90px;
}
.promo__main-info {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  color: #FBFBFB;
  z-index: 2;
}
.promo__date-group {
  display: flex;
  font-weight: 700;
  margin-right: 35px;
}
.promo__date {
  font-size: 52px;
  line-height: 52px;
  margin-right: 6px;
  flex-shrink: 0;
}
.promo__month {
  font-size: 24px;
  line-height: 30px;
}
.promo__presentation {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  max-width: 376px;
}
.promo__button {
  border: none;
  padding: 15px 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #003277;
  border-radius: 62px;
  background-color: #FFFFFF;
  z-index: 2;
}
@media (min-width: 1360px) {
  .promo .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1199.98px) {
  .promo__date-group {
    margin-right: 18px;
  }
  .promo__date {
    font-size: 54px;
    line-height: 66px;
  }
  .promo__month {
    font-size: 22px;
  }
  .promo__main-info {
    flex-shrink: 0;
  }
  .promo__presentation {
    font-size: 19px;
    line-height: 23px;
  }
  .promo__button {
    padding: 10px 22px;
    line-height: 19px;
    max-width: 198px;
  }
}
@media (max-width: 991.98px) {
  .promo::before {
    opacity: 0.3;
  }
  .promo__date {
    font-size: 48px;
    line-height: 60px;
  }
  .promo__month {
    font-size: 18px;
  }
  .promo__date-group {
    margin-right: 14px;
  }
  .promo__main-info {
    flex-shrink: 0;
    z-index: 3;
  }
  .promo__presentation {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    max-width: 365px;
  }
  .promo__button {
    padding: 8px 22px;
    z-index: 3;
  }
}
@media (max-width: 767.98px) {
  .promo {
    height: 190px;
  }
  .promo::before {
    background-image: url("../img/building-small.png");
    background-position: center bottom;
    background-size: contain;
  }
  .promo__date {
    font-size: 44px;
    line-height: 54px;
  }
  .promo__month {
    font-size: 18px;
    line-height: 22px;
  }
  .promo__date-group {
    width: 100%;
    margin-right: 0;
  }
  .promo__main-info {
    flex-shrink: 0;
    flex-direction: column;
    width: 100%;
  }
  .promo__presentation {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    max-width: 330px;
    margin-bottom: 16px;
    align-self: flex-start;
  }
  .promo__button {
    width: 100%;
    max-width: 100%;
    font-size: 15px;
    line-height: 19px;
    padding: 16px 22px;
  }
}

.start-learning {
  background-image: url("../img/img-head.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 274px) -35px;
  background-size: auto;
  min-height: 600px;
}
.start-learning__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 452px;
  min-height: 600px;
}
.start-learning__content_wrapper {
  max-width: 462px;
}
.start-learning__content--title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}
.start-learning__content--subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.start-learning__content--btn {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 24px;
  background: #1462D3;
  border-radius: 8px;
  border: 0;
}
@media (max-width: 991.98px) {
  .start-learning__content {
    min-height: auto;
  }
}
@media (max-width: 575.98px) {
  .start-learning__content--title {
    font-size: 32px;
    line-height: 38px;
  }
  .start-learning__content--subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .start-learning__content--btn {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
}
.start-learning__image {
  position: relative;
  height: 100%;
}
@media (max-width: 991.98px) {
  .start-learning__image {
    min-height: 525px;
  }
}
@media (max-width: 767.98px) {
  .start-learning__image {
    min-height: 430px;
  }
}
@media (max-width: 575.98px) {
  .start-learning__image {
    min-height: 415px;
  }
}
@media (max-width: 480px) {
  .start-learning__image {
    min-height: 290px;
  }
}
@media (max-width: 1359.98px) {
  .start-learning {
    background-position: calc(50% + 250px) -25px;
    background-size: 700px auto;
    min-height: 530px;
  }
  .start-learning__content {
    min-height: 475px;
  }
  .start-learning__content--subtitle {
    margin-bottom: 24px;
  }
}
@media (max-width: 1199.98px) {
  .start-learning {
    background-position: calc(50% + 240px) 0;
    background-size: 500px auto;
    min-height: 450px;
  }
  .start-learning__content {
    min-height: 450px;
  }
  .start-learning__content--title {
    font-size: 38px;
  }
  .start-learning__content--subtitle {
    margin-bottom: 25px;
  }
}
@media (max-width: 991.98px) {
  .start-learning {
    background-position: center 0;
    background-size: 700px auto;
  }
  .start-learning__content {
    max-width: 100%;
    min-height: 236px;
  }
  .start-learning__content_wrapper {
    max-width: 100%;
  }
  .start-learning__content--title {
    font-size: 36px;
  }
}
@media (max-width: 767.98px) {
  .start-learning {
    background-size: 560px auto;
  }
  .start-learning__content {
    min-height: auto;
  }
  .start-learning__content--title {
    font-size: 33px;
    line-height: 44px;
  }
}
@media (max-width: 575.98px) {
  .start-learning {
    background-size: 550px auto;
  }
  .start-learning__content--title {
    font-size: 32px;
    line-height: 42px;
  }
  .start-learning__content--subtitle {
    margin-bottom: 26px;
  }
}
@media (max-width: 480px) {
  .start-learning {
    background-size: 124% auto;
  }
  .start-learning__content--title {
    line-height: 38px;
    width: 95%;
    margin-bottom: 16px;
  }
  .start-learning__content--subtitle {
    margin-bottom: 16px;
  }
}

.video-block {
  position: relative;
  height: 477px;
}
.video-img {
  border-radius: 39px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-promo {
  position: absolute;
  top: 120px;
  left: 50px;
}
.video-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.video-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  width: 53%;
  margin-bottom: 30px;
}
.video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.video-button {
  background: #FFFFFF;
  border-radius: 30px;
  border: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 45px;
  color: #333333;
}
@media (max-width: 1199.98px) {
  .video-title {
    font-size: 52px;
  }
  .video-button {
    padding: 16px 42px;
  }
  .video-promo {
    top: unset;
    bottom: 48px;
  }
  .video-play {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 991.98px) {
  .video-promo {
    bottom: 58px;
  }
  .video-title {
    font-size: 37px;
    line-height: 45px;
  }
  .video-description {
    font-size: 19px;
    line-height: 26px;
    width: 58%;
  }
  .video-button {
    padding: 12px 34px;
    font-size: 18px;
    line-height: 20px;
  }
  .video-play {
    height: 66px;
    width: 66px;
  }
}
@media (max-width: 767.98px) {
  .video-promo {
    bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 40px;
    right: 0;
    top: 45px;
  }
  .video-title {
    font-size: 37px;
    line-height: 45px;
    align-self: flex-start;
    margin-bottom: 115px;
  }
  .video-description {
    width: 90%;
    margin-top: 100px;
  }
  .video-button {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 575.98px) {
  .video-description {
    width: 94%;
    font-size: 18px;
  }
  .video-promo {
    left: 30px;
  }
}
@media (max-width: 419px) {
  .video-description {
    font-size: 17px;
    line-height: 25px;
    margin-top: 105px;
    width: 100%;
  }
  .video-promo {
    bottom: 40px;
    left: 24px;
    right: 24px;
    top: 30px;
  }
  .video-title {
    font-size: 30px;
  }
  .video-button {
    font-size: 17px;
    width: 100%;
  }
}
@media (max-width: 396px) {
  .video-description {
    font-size: 16px;
    margin-top: 100px;
  }
  .video-button {
    font-size: 16px;
  }
}

.courses__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #333333;
  margin-bottom: 24px;
}
@media (max-width: 1199.98px) {
  .courses__title {
    font-size: 38px;
    line-height: 47px;
    margin-bottom: 28px;
  }
}
@media (max-width: 991.98px) {
  .courses {
    padding-top: 80px;
  }
  .courses__title {
    font-size: 34px;
    line-height: 45px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .courses__title {
    font-size: 32px;
    line-height: 44px;
  }
}
@media (max-width: 480px) {
  .courses {
    padding-top: 60px;
  }
  .courses__title {
    line-height: 36px;
    margin-bottom: 18px;
  }
}
.courses__card {
  position: relative;
  width: 212px;
  height: 260px;
}

.card__text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 212px;
}
.card__start {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #333333;
}
.card__start_white {
  color: #FFFFFF;
}
.card__start_black {
  color: #000000;
}
.card__period {
  background: #FFFFFF;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  padding: 2px 8px;
  border: 0;
  color: #333333;
  margin-bottom: 4px;
  display: inline-block;
}
.card__period_orange {
  color: #E79175;
}
.card__period_blue {
  color: #1C4DCB;
}
.card__period_marine {
  color: #14799A;
}
.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-left: 4px;
  margin-bottom: 2px;
}
.card__title_black {
  color: #333333;
}
.card__price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-left: 4px;
  color: #FFFFFF;
}
.card__price_black {
  color: #333333;
}

.swiper-slide {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}

.professions {
  padding-top: 121px;
  padding-bottom: 40px;
  margin-top: -41px;
  background: radial-gradient(135.64% 135.64% at 35.92% 127.13%, #0ED1FF 0%, #1461D2 100%);
}
.professions__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  margin-bottom: 0;
}
.professions__title-group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
  gap: 18px;
}
.professions__buttons-group {
  display: flex;
}
.professions__button {
  border: 1px solid #C9C9C9;
  border-radius: 20px;
  background-color: transparent;
  padding: 6px 11px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: baseline;
  min-width: 89px;
}
.professions__button_second {
  margin-left: 8px;
  min-width: 138px;
}
.professions__button-plus {
  width: 7px;
  height: 7px;
  margin-right: 4px;
}
.professions__card {
  position: relative;
  width: 366px;
  height: 307px;
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
  border-radius: 30px;
  cursor: pointer;
  transition: border-color 0.5s;
}
.professions__card-wrapper {
  padding-left: 8px;
}
.professions__card_img {
  position: absolute;
  left: -8px;
  bottom: 0;
  border-radius: 0px 0px 30px 0px;
}
.professions__card_text {
  position: absolute;
  top: 24px;
  left: 24px;
}
.professions__card_details {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.professions__card_start {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 16px;
  margin-bottom: 0;
}
.professions__card_period {
  padding: 1px 8px;
  background: #FFFFFF;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #119CEA;
  transition: color 0.5s;
}
.professions__card_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 2px;
}
.professions__card_price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin-right: 16px;
}
.professions__card_price_group {
  display: flex;
}
.professions__card_price_del {
  position: relative;
  font-weight: 700;
  margin-right: 0;
}
.professions__card_price_del svg {
  position: absolute;
  top: 5px;
  left: -1.4px;
  right: 29px;
  bottom: 3px;
}
.professions__card_price_del svg path {
  transition: stroke 0.5s;
}
@media (max-width: 1199.98px) {
  .professions__card {
    width: 248px;
    height: 312px;
  }
  .professions__card_img {
    width: 253.42px;
    height: 118.58px;
    left: -5px;
    border-radius: 0px 0px 32px 35px;
  }
  .professions__card_period {
    padding: 2px 8px;
  }
  .professions__card_details {
    margin-bottom: 10px;
  }
  .professions__card_price_group {
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .professions__title {
    font-size: 38px;
  }
}
@media (max-width: 767.98px) {
  .professions__title {
    font-size: 32px;
    line-height: 44px;
  }
}
@media (max-width: 480px) {
  .professions {
    padding-top: 124px;
    margin-top: -62px;
  }
  .professions__title-group {
    margin-bottom: 20px;
  }
}

.professionsSwiper {
  margin-left: -8px;
}
@media (min-width: 480px) and (max-width: 575.98px) {
  .professionsSwiper {
    margin-left: -12px;
  }
}

.timeline-section {
  background: #141414;
  padding: 140px 0;
}
.timeline-section .timeline-description {
  display: flex;
  flex-direction: column;
}
.timeline-section .timeline-description-head {
  max-width: 490px;
  margin-bottom: 125px;
}
.timeline-section .timeline-description-head__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}
.timeline-section .timeline-description-head__subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (max-width: 1199.98px) {
  .timeline-section .timeline-description-head {
    max-width: 400px;
    padding-right: 20px;
  }
  .timeline-section .timeline-description-head__title {
    font-size: 48px;
    line-height: 54px;
  }
  .timeline-section .timeline-description-head__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 991.98px) {
  .timeline-section .timeline-description-head__title {
    font-size: 32px;
    line-height: 36px;
  }
  .timeline-section .timeline-description-head__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 767.98px) {
  .timeline-section .timeline-description-head {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .timeline-section .timeline-description-head__title {
    font-size: 32px;
    line-height: 36px;
  }
  .timeline-section .timeline-description-head__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
.timeline-section .timeline-description-months {
  display: flex;
  flex-direction: column;
}
.timeline-section .timeline-description-months__line {
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.timeline-section .timeline-description-months__line--line {
  width: 100%;
  border: 1px solid #727272;
}
.timeline-section .timeline-description-months__line--line-hrb {
  position: absolute;
  height: 10px;
  width: 2px;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.timeline-section .timeline-description-months__line--line-hrb.hrb-1 {
  left: 0;
}
.timeline-section .timeline-description-months__line--line-hrb.hrb-2 {
  left: 16.6666666667%;
}
.timeline-section .timeline-description-months__line--line-hrb.hrb-3 {
  left: 33.3333333333%;
}
.timeline-section .timeline-description-months__line--line-hrb.hrb-4 {
  left: 50%;
}
.timeline-section .timeline-description-months__line--line-hrb.hrb-5 {
  left: 66.6666666667%;
}
.timeline-section .timeline-description-months__line--line-hrb.hrb-6 {
  left: 83.3333333333%;
}
.timeline-section .timeline-description-months__line--line-hrs {
  position: absolute;
  height: 3px;
  width: 2px;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.timeline-section .timeline-description-months__line--line-hrs.hrs-1 {
  left: 8.3333333333%;
}
.timeline-section .timeline-description-months__line--line-hrs.hrs-2 {
  left: 25%;
}
.timeline-section .timeline-description-months__line--line-hrs.hrs-3 {
  left: 41.6666666667%;
}
.timeline-section .timeline-description-months__line--line-hrs.hrs-4 {
  left: 58.3333333333%;
}
.timeline-section .timeline-description-months__line--line-hrs.hrs-5 {
  left: 75%;
}
.timeline-section .timeline-description-months__line--line-hrs.hrs-6 {
  left: 91.6666666667%;
}
.timeline-section .timeline-description-months__line--line-arrow {
  border-top: 2px solid #727272;
  border-right: 2px solid #727272;
  position: absolute;
  left: 99%;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
}
.timeline-section .timeline-description-months__line--line-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  color: #FFFFFF;
  top: 20px;
}
.timeline-section .timeline-description-months__line--line-text.text-1 {
  left: 0;
}
.timeline-section .timeline-description-months__line--line-text.text-2 {
  left: 16.6666666667%;
}
.timeline-section .timeline-description-months__line--line-text.text-3 {
  left: 33.3333333333%;
}
.timeline-section .timeline-description-months__line--line-text.text-4 {
  left: 50%;
}
.timeline-section .timeline-description-months__line--line-text.text-5 {
  left: 66.6666666667%;
}
.timeline-section .timeline-description-months__line--line-text.text-6 {
  left: 83.3333333333%;
}
.timeline-section .timeline-description-months__line--line-text-sm {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: none;
}
@media (max-width: 1199.98px) {
  .timeline-section .timeline-description-months__line {
    width: 10px;
    height: 100%;
    justify-content: flex-end;
  }
  .timeline-section .timeline-description-months__line--line {
    width: 1px;
    height: 100%;
  }
  .timeline-section .timeline-description-months__line--line-hrb {
    position: absolute;
    height: 2px;
    width: 10px;
    background-color: #FFFFFF;
    border-radius: 2px;
  }
  .timeline-section .timeline-description-months__line--line-hrb.hrb-1 {
    left: 99%;
    transform: translate(-50%);
    top: 0;
  }
  .timeline-section .timeline-description-months__line--line-hrb.hrb-2 {
    left: 99%;
    transform: translate(-50%);
    top: 16.6666666667%;
  }
  .timeline-section .timeline-description-months__line--line-hrb.hrb-3 {
    left: 99%;
    transform: translate(-50%);
    top: 33.3333333333%;
  }
  .timeline-section .timeline-description-months__line--line-hrb.hrb-4 {
    left: 99%;
    transform: translate(-50%);
    top: 50%;
  }
  .timeline-section .timeline-description-months__line--line-hrb.hrb-5 {
    left: 99%;
    transform: translate(-50%);
    top: 66.6666666667%;
  }
  .timeline-section .timeline-description-months__line--line-hrb.hrb-6 {
    left: 99%;
    transform: translate(-50%);
    top: 83.3333333333%;
  }
  .timeline-section .timeline-description-months__line--line-hrs {
    position: absolute;
    height: 2px;
    width: 3px;
    background-color: #FFFFFF;
    border-radius: 2px;
  }
  .timeline-section .timeline-description-months__line--line-hrs.hrs-1 {
    left: 99%;
    transform: translate(-50%);
    top: 8.3333333333%;
  }
  .timeline-section .timeline-description-months__line--line-hrs.hrs-2 {
    left: 99%;
    transform: translate(-50%);
    top: 25%;
  }
  .timeline-section .timeline-description-months__line--line-hrs.hrs-3 {
    left: 99%;
    transform: translate(-50%);
    top: 41.6666666667%;
  }
  .timeline-section .timeline-description-months__line--line-hrs.hrs-4 {
    left: 99%;
    transform: translate(-50%);
    top: 58.3333333333%;
  }
  .timeline-section .timeline-description-months__line--line-hrs.hrs-5 {
    left: 99%;
    transform: translate(-50%);
    top: 75%;
  }
  .timeline-section .timeline-description-months__line--line-hrs.hrs-6 {
    left: 99%;
    transform: translate(-50%);
    top: 91.6666666667%;
  }
  .timeline-section .timeline-description-months__line--line-arrow {
    border-top: 2px solid #727272;
    border-right: 2px solid #727272;
    position: absolute;
    left: 91%;
    top: 99%;
    height: 10px;
    width: 10px;
    transform: rotate(135deg);
  }
  .timeline-section .timeline-description-months__line--line-text {
    display: none;
  }
  .timeline-section .timeline-description-months__line--line-text-sm {
    display: block;
    position: absolute;
    left: 0;
  }
  .timeline-section .timeline-description-months__line--line-text-sm.text-1 {
    top: calc(0% - 8px);
  }
  .timeline-section .timeline-description-months__line--line-text-sm.text-2 {
    top: calc(16.6666666667% - 8px);
  }
  .timeline-section .timeline-description-months__line--line-text-sm.text-3 {
    top: calc(33.3333333333% - 8px);
  }
  .timeline-section .timeline-description-months__line--line-text-sm.text-4 {
    top: calc(50% - 8px);
  }
  .timeline-section .timeline-description-months__line--line-text-sm.text-5 {
    top: calc(66.6666666667% - 8px);
  }
  .timeline-section .timeline-description-months__line--line-text-sm.text-6 {
    top: calc(83.3333333333% - 8px);
  }
}
@media (max-width: 767.98px) {
  .timeline-section .timeline-description-months__line {
    height: auto;
  }
}
.timeline-section .timeline-description-months__blocks {
  margin-bottom: 20px;
}
.timeline-section .timeline-description-months__blocks-item {
  background: #24272C;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.timeline-section .timeline-description-months__blocks-item--date {
  font-family: "Inter";
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 16px;
}
.timeline-section .timeline-description-months__blocks-item--title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 6px;
}
.timeline-section .timeline-description-months__blocks-item--text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
@media (max-width: 1199.98px) {
  .timeline-section .timeline-description-months {
    flex-direction: row;
  }
  .timeline-section .timeline-description-months__line {
    width: 65px;
    min-width: 65px;
  }
  .timeline-section .timeline-description-months__blocks {
    width: 100%;
    margin: 0;
  }
  .timeline-section .timeline-description-months__blocks .col:not(:last-child) {
    margin-bottom: 10px;
  }
  .timeline-section .timeline-description-months__blocks-item {
    padding: 16px;
  }
}
@media (max-width: 1199.98px) {
  .timeline-section .timeline-description {
    flex-direction: row;
  }
}
@media (max-width: 767.98px) {
  .timeline-section .timeline-description {
    flex-direction: column;
  }
}
@media (max-width: 1199.98px) {
  .timeline-section {
    padding: 80px 0;
  }
}
@media (max-width: 767.98px) {
  .timeline-section {
    padding: 60px 0;
  }
}/*# sourceMappingURL=style.css.map */