.header {
  height: 90px;
  background-color: $dark-blue;
  padding: 11px 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__main-info {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: $white; 
    margin-right: 73px;
  }
  &__date-group {
    display: flex;
    font-weight: 700;
    margin-right: 35px;
  }
  &__date {
    font-size: 55px;
    line-height: 67px;
    margin-right: 6px;
  }
  &__month {
    font-size: 24px;
    line-height: 29px;
  }
  &__presentation {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  &__button {
    border: none;
    padding: 14px 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $dark-blue;
    border-radius: 12px;
    background-color: $white;
  }
}