@media (min-width: 1360px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    &-swiper {
      max-width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .container {
    --bs-gutter-x: 2rem;
  }
}

@media (hover: hover) {
  @media (pointer: fine) {
    .promo {
      &__button {
        &:hover {
          background-color: #9fd3ff;
        }
      }
    }

    .navbar {
      &__button {
        &:hover {
          background-color: #333333;
          color: $white;
          border-color: #333333;
        }
      }
    }

    .professions {
      &__card {
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: radial-gradient(66.53% 94.56% at 79.64% 25.24%, #7ACFE1 0%, #FFA5D1 100%);
            transition: all .3s;
            opacity: 0;
            z-index: -1;
        }
        &:hover::before {
            opacity: 1;
        }
      }

    }
  }
}
