.pr-10 {
  padding-right: 10px;
}

@media (min-width: 1360px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    &-swiper {
      max-width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (max-width: 480px) {
  .container {
    --bs-gutter-x: 2rem;
  }
}

@media (hover: hover) {
  @media (pointer: fine) {
    .promo {
      &__button {
        &:hover {
          background-color: #9fd3ff;
        }
      }
    }

    .navbar {
      &__button {
        &:hover {
          background-color: #333333;
          color: $white;
          border-color: #333333;
        }
      }
    }

    .professions {
      &__card {
        &::before {
            content: "";
            position: absolute;
            width: 366px;
            height: 307px;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            border: 1px solid transparent;
            background: radial-gradient(66.53% 94.56% at 79.64% 25.24%, #7ACFE1 0%, #FFA5D1 100%) padding-box, radial-gradient(66.53% 94.56% at 79.64% 25.24%, #7ACFE1 0%, #FFA5D1 100%) border-box;
            border-radius: 30px;
            transition: opacity .5s;
            opacity: 0;
            z-index: -1;

            @media (max-width: 1199.98px) {
                width: 248px;
                height: 312px;
            }
        }
        &:hover {
            border-color: transparent;

            &::before {
                opacity: 1;
            }
            .professions__card_period {
                color: #C790B6;    
            }

            .professions__card_price_del {
                svg {
                    path {
                        &:nth-child(2) {
                            stroke: #B0CDF7;
                        }
                    }
                }
            }
        }
      }
    }
  }
}
