.container {
    &-swiper {
      position: relative;

    }
}

@media (min-width: 1360px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    &-swiper {
      max-width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (max-width: 479.98px) {
  .container {
    --bs-gutter-x: 2rem;
  }
}

@media (hover: hover) {
  @media (pointer: fine) {
    .promo {
      &__button {
        &:hover {
          background-color: #9fd3ff;
        }
      }
    }

    .navbar {
      &__button {
        &:hover {
          background-color: #1462d3;
          color: $white;
          border-color: #1462d3;
        }
      }
    }

    .start-learning {
      &__content{
        &--btn {
          &:hover {
            background-color: darken(#1462d3, 6.8%);
          }

        }
      }
    }

    .professions {
      &__card {
        &::before {
            content: "";
            position: absolute;
            width: 366px;
            height: 307px;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            border: 1px solid transparent;
            background: radial-gradient(112.83% 90.64% at 79.64% 25.24%, #7ACFE1 0%, #FFA5D1 100%) padding-box, radial-gradient(112.83% 90.64% at 79.64% 25.24%, #7ACFE1 0%, #FFA5D1 100%) border-box;
            border-radius: 30px;
            transition: opacity .5s;
            opacity: 0;
            z-index: -1;

            @media (max-width: 1359px) { 
                width: 362px;
            }

            @media (max-width: 1199.98px) {
                width: 280px;
                height: 312px;
            }

            @media (max-width: 991.98px) {
              width: 328px;
            }

            @media (max-width: 767.98px) {
              width: 248px;
            }
        }

        &:hover {
            border-color: transparent;

            &::before {
                opacity: 1;
            }
            .professions__card_period {
                color: #C790B6;    
            }

            .professions__card_price_del {
                svg {
                    path {
                        &:nth-child(2) {
                            stroke: #B0CDF7;
                        }
                    }
                }
            }
        }
      }

      &__button {
        &:hover {
          background-color: rgba(255, 255, 255, 0.25);
          box-shadow: 2px 2px 5px rgba(224, 220, 216, 0.5) inset, 1px 1px 5px rgba(255, 255, 255, 1);
          
        }
      }
    }
  }
}
