@media (hover: hover) {
  @media (pointer: fine) {
    .promo {
      &__button {
        &:hover {
          background-color: #9fd3ff;
        }
      }
    }

    .navbar {
      &__button {
        &:hover {
          background-color: #333333;
          color: $white;
          border-color: #333333;
        }
      }
  }
 }
}

