.promo {
  height: 90px;
  background-color: $dark-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url('/img/building.png');
    background-repeat: no-repeat;
    background-position: calc(50% + 176px) 0;
    background-size: 159px 90px;
    z-index: 0;
  }
  &__main-info {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: $white;
  }
  &__date-group {
    display: flex;
    font-weight: 700;
    margin-right: 35px;
  }
  &__date {
    font-size: 55px;
    line-height: 67px;
    margin-right: 6px;
    flex-shrink: 0;
  }
  &__month {
    font-size: 24px;
    line-height: 29px;
  }
  &__presentation {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    max-width: 384px;
  }
  &__button {
    border: none;
    padding: 15px 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $dark-blue;
    border-radius: 62px;
    background-color: $snow-white;
  }
  
  @media (min-width: 1360px) { 
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: 1199.98px) {
    &__date-group {
      margin-right: 18px;
    }
    &__date {
      font-size: 54px;
      line-height: 66px;
    }
    &__month {
      font-size: 22px;
    }
    &__main-info {
      flex-shrink: 0;
    }
    &__presentation {
      font-size: 19px;
      line-height: 23px;
    }
    &__button {
      padding: 10px 22px;
       line-height: 19px;
       max-width: 198px;
    }
  }

  @media (max-width: 991.98px) {
    &::before {
      opacity: 0.3;
    }
    &__date {
      font-size: 48px;
      line-height: 60px;
    }
    &__month {
      font-size: 18px;
    }
    &__date-group {
      margin-right: 14px;
    }
    &__main-info {
      flex-shrink: 0;
      z-index: 3;
    }
    &__presentation {
      font-size: 17px;
      font-weight: 700;
      line-height: 24px;
    }
    &__button {
      padding: 8px 22px;
      z-index: 3;
    }
  }

  @media (max-width: 767.98px) {
    &__date {
      font-size: 34px;
      line-height: 60px;
    }
    &__month {
      font-size: 17px;
      line-height: 26px;
    }
    &__date-group {
      margin-right: 12px;
    }
    &__main-info {
      flex-shrink: 0;
    }
    &__presentation {
      font-size: 16px;
      line-height: 20px;
      max-width: 308px;
    }
    &__button {
      font-size: 15px;
      line-height: 19px;
      padding: 8px 22px;
      margin-left: 34px;
    }
  }
}
