.courses-content {
  padding-top: 182px; 
  margin-top: -94px;
  padding-bottom: 80px;

  &__title {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px; 
    color: $color-primary;
    margin-bottom: 24px;
  }

  &__grid {
    &_item {
      border-radius: 20px;
      background: #F6F6F6;
      color: $color-primary;
      font-family: Inter;
      font-style: normal;

      &.upper {
        padding: 30px 40px;
        min-height: 280px;
      }

      &.lower {
        padding: 40px 34px 34px 40px;
      }

      &.-video-lessons {
        background-image: url(../img/courses-content/video-lessons-bgd.png);
        background-repeat: no-repeat;
        background-position: right 0 top 33px;
 
      } 
      
      &.-webinars {
        background-image: url(../img/courses-content/webinars-bgd.png);
        background-repeat: no-repeat;
        background-position: right 0 top 11px;
      }

      &.-additional-materials {
        padding: 30px 20px 30px 32px;
        height: 100%;
      }
      
      &.-employment {
        background-image: url(../img/courses-content/employment-bgd.png);
        background-repeat: no-repeat;
        background-position: right 0 bottom 0;
        height: 100%;
      }

      &_icon {
        position: absolute;
        left: -29px;
        bottom: -24.5px;

        &.-document {
          top: -23.5px;
          bottom: -22.5px;
        }

        &.-mentors {
          bottom: 2px;
          left: calc(50% - 8px);
        }
      }

      &_title {
        font-size: 40px;
        font-weight: 700;
        line-height: 46px; 
        padding-left: 54px;
        margin-bottom: 0;
        color: $color-primary;

        &.-bottom {
          padding-left: 0;
        }

        &-group {
          position: relative;
          margin-bottom: 16px;
        }
      }

      &_text {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
        width: calc(50% + 15px);

        &.-first-child {
          margin-bottom: 10px;
        }

        &.-forwebinars {
          width: calc(50% - 53px);
        }

        &.-foremployment {
          width: calc(50% + 68px);
        }
      }
    } 
  }

  @media (min-width: 1400px) {
    &__grid { 
      &_item { 
        &_text {
          width: 445px;

          &.-forwebinars {
            width: 407px;
          }

          &.-foremployment {
            width: 268px;
          }

          &.-formaterials {
            padding-right: 0;
          }

          &.-foremployment {
            width: 300px;
          }
        }

        &_icon {
          &.-mentors {
            left: calc(50% - 58px);
          }
        }
      }
    }
  }

  @media(min-width: 1360px) {
    &__grid { 
      &_item { 
        &_text {
          &.-formaterials {
            padding-right: 12px;
          }
        }
      }
    }

    .col-xl-7 {
      max-width: 659px;
    }
  
    .col-xl-5 { 
      min-width: 499px; 
    }
  
    .col-xl-8 { 
      max-width: 774px; 
    }
  
    .col-xl-4 {
      max-width: 385px; 
    }
  }

  @media (max-width: 1199.98px) {
    &__title {
      font-size: 48px;
    }

    &__grid { 
      &_item { 
        &_icon {
          width: 80px;
          bottom: -22.5px;
        }

        &_title {
          font-size: 30px;
          line-height: 36px;
          padding-left: 48px;
        }

        &_text {
          width: 50%;

          &.-forwebinars {
            width: 45%;
          }
        }

        &.upper {
          min-height: 300px;
        }

        &.-video-lessons {
          background-position: left calc(100% + 215px) top 33px;
        }
        
        &.-webinars {
          background-position: left calc(100% + 50px) bottom 0;
        } 
      }
    }
  }

  @media (max-width: 991.98px) {
    &__title {
      font-size: 38px;
    }

    &__grid{
      &_item {
        &.upper {
          min-height: 280px;
        }

        &.lower {
          padding: 30px 34px 34px 40px;
        }

        &.-additional-materials {
          padding: 30px 20px 30px 40px;
        }

        &_text {
          width: 46%;
        }

        &-block {
          padding-bottom: 38px;

          &:last-child {
            padding-bottom: 0;
          }
        }

        &_title {
          &-group {
            &.-mentors {
              margin-bottom: 54px;
            }
          }
        }

        &_icon {
          &.-mentors {
            left: 0;
            bottom: -38px;
          }
        }

        &_text {
          &.-foremployment {
            width: 430px;
          }
        }

        &.-employment {
          background-position: right 14px bottom 0;
        }
      }
    }

  }

  @media (max-width: 767.98px) {
    &__title {
      font-size: 32px;
    }

    &__grid {
      &_item {
        &.upper  {
          padding: 30px 30px 30px 40px;
          min-height: 450px;
        }
      
        &.-video-lessons {
          background-position: left 37px top 203px;
        }
        
        &.-webinars {
          background-position: right 0 top 173px;
          background-size: 520px auto;
        }
        
        &.-employment  {
          background-position: right 9px bottom 0;
        }
        
        &_icon {
          width: 70px;
          bottom: -18px;
          left: -24px;

          &.-document {
            top: unset;
            bottom: -16px;
          }
        }
        
        &_title {
          font-size: 26px;

          &-group {
            &.-mentors  {
              margin-bottom: 58px;
            }
          }
        }
        
        &_text {
          width: 100%;
        
          &.-forwebinars  {
            width: 100%;
          }
        
          &.-foremployment  {
            width: 420px;
          }
        }
      }
    }
  }



  
}