.courses {
    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: $color-primary;
        margin-bottom: 24px;

    }

    &__card {
        position: relative;
        width: 212px;
        height: 260px;
        border-radius: 20px;
        transition: all .5s;

        img {
            border-radius: 20px;
        }
    }

    &__swiper {
        &__button {
            position: absolute;
            top: 50%;
            transform: translateY(-88%);
            width: 24px;
            height: 56px;
            border: none;
            z-index: 99;
            cursor: pointer;
            background-repeat: no-repeat;

            &--prev {
                left: -50px;
                background-image: url('../img/chevron_left_icon.svg');
                
                background-position: center;
                background-size: 36px;
            }

            &--next {
                right: -50px;
                background-image: url('../img/chevron_right_icon.svg');
                
                background-position: center;
                background-size: 36px;
            }

            &--disabled {
                display: none;
            }

            @media (max-width: 1449px) {
                &--prev {
                    left: -35px;
                }

                &--next {
                    right: -35px;
                }
            }

            @media (max-width: 1399px) {
                &--prev {
                    left: -50px;
                }

                &--next {
                    right: -50px;
                }
            }

            @media (max-width: 1299px) {
                &--prev {
                    left: -35px;
                }

                &--next {
                    right: -35px;
                }
            }

            @media (max-width: 1249px) {
                &--prev {
                    left: -25px;
                }

                &--next {
                    right: -25px;
                }
            }

            @media (max-width: 1199.98px) {
                &--prev {
                    left: -50px;
                }

                &--next {
                    right: -50px;
                }
            }

            @media (max-width: 1089px) {
                &--prev {
                    left: -27px;
                }

                &--next {
                    right: -27px;
                }
            }

            @media (max-width: 1029px) {
                &--prev {
                    left: -16px;
                }

                &--next {
                    right: -16px;
                }
            }

            @media (max-width: 991.98px) {
                &--prev {
                    left: -70px;
                }

                &--next {
                    right: -70px;
                }
            }

            @media (max-width: 949px) {
                &--prev {
                    left: -63px;
                }

                &--next {
                    right: -63px;
                }
            }

            @media (max-width: 899px) {
                &--prev {
                    left: -40px;
                }

                &--next {
                    right: -40px; 
                }
            }

            @media (max-width: 849px) {
                &--prev {
                    left: -28px;
                }

                &--next {
                    right: -28px; 
                }
            }

            @media (max-width: 799px) {

                &--prev {
                    left: -20px;
                }

                &--next {
                    right: -20px; 
                }
            }

            @media (max-width: 767.98px) {
                &--prev {
                    display: none;
                }

                &--next {
                    display: none;
                }
            }
        }    
    }
     
    @media (max-width: 1199.98px) {
        &__title {
            font-size: 38px;
            line-height: 47px;
            margin-bottom: 28px;
        }
    }

    @media (max-width: 991.98px) {
        padding-top: 80px;
        &__title {
            font-size: 34px;
            line-height: 45px;
            margin-bottom: 30px;
        }
    }

    @media (max-width: 767.98px) {
        &__title {
            font-size: 32px;
            line-height: 44px;
        }
    }

    @media (max-width: 480px) { 
        padding-top: 60px;
        &__title {
            line-height: 36px;
            margin-bottom: 18px;
        }
    }
}

.card {
    &__text {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 212px;
    }

    &__start {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        color: $color-primary;

        &_white {
            color: $snow-white;
        }

        &_black {
            color: $black
        }
    }

    &__period {
        background: $snow-white;
        border-radius: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        padding: 2px 8px;
        border: 0;
        color: $color-primary;
        margin-bottom: 4px;
        display: inline-block;

        &_orange {
            color: #E79175;
        }

        &_blue {
            color: #1C4DCB;
        }

        &_marine {
            color: #14799A;
        }

    }

    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: $snow-white;
        margin-left: 4px;
        margin-bottom: 2px;

        &_black {
            color: $color-primary;
        }
    }

    &__price {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-left: 4px;
        color: $snow-white;

        &_black {
            color: $color-primary;
        }
    }
}

.swiper {
    &-slide {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        cursor: pointer;
    } 
}

.mySwiper { 
    padding-right: 20px;
    margin-right: -20px;
    padding-left: 20px;
    margin-left: -20px;
    padding-top: 5px;
    padding-bottom: 60px;

    @media (max-width: 1359px) {
        padding-right: 14px;
        margin-right: -14px;
        padding-left: 14px;
        margin-left: -14px;
    }

    @media (max-width: 767.98px) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .swiper {
        &-slide {
            &:hover {
                .courses__card { 
                    transform: rotate(-1deg);

                    &_orange {
                        box-shadow: 0px 34px 44px -15px rgba(251, 160, 93, 0.69);
                    }

                    &_blue {
                        box-shadow: 0px 34px 44px -15px rgba(44, 95, 224, 1);
                    }

                    &_yellow {
                        box-shadow: 0px 34px 44px -15px rgba(255, 211, 48, 0.69);
                    }

                    &_teal {
                        box-shadow: 0px 34px 44px -15px rgba(40, 150, 185, 1);
                    }

                    &_light-blue {
                        box-shadow: 0px 34px 44px -15px rgba(107, 225, 251, 0.69);
                    }

                    &_green {
                        box-shadow: 0px 34px 44px -15px rgba(22, 206, 142, 0.69);    
                    }
                } 
            }   
        }
    }
}




