.footer {
  padding: 260px 0 60px;
  background: linear-gradient(180deg, rgba(18, 154, 233, 0.00) 0%, #129AE9 41.58%, #129AE9 71.65%, #1461D2 98.06%);

  &-social-media {
    margin-bottom: 100px;
  }

  &__title {
    color: $snow-white;
    font-size: 60px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 80px;
  }

  &__vk {
    display: flex;
    padding: 0 0 60px 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: space-between;

    &_telegram {
      padding: 60px 0 60px 33px;
    }

    &_youtube {
      padding: 60px 0 0 33px;
      border-bottom: none;
    }

    &__icon {
      margin-right: 132px;
    }

    &__group {
      display: flex;
    }

    &__followers {
      &__title {
        color: $snow-white;
        font-size: 20px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 6px;
      }

      &__number {
        display: flex;
      }

      &__figure {
        color: $snow-white;
        font-size: 52px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        margin-right: 1px;
      }

      &__thousands {
        color: $snow-white;
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        &_normal {
          font-weight: 400;
          padding-left: 2px;
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      max-width: 476px;
      width: 43%;
      height: max-content;
    }
  }

  &__button {
    border: 1px solid $snow-white;
    border-radius: 50px;
    background-color: transparent;
    padding: 7px 13px 7px 11px;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $snow-white;
    display: flex;
    align-items: center;
    height: min-content;

    &-plus {
      margin-right: 1px;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 30px;
    width: 360px;
    height: 90px;

    &__item {
      color: $snow-white;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      padding-bottom: 10px;
      text-decoration: none;
      

      &:nth-child(-n+3) {
        padding-right: 60px;
      }
    }
  }

  &__payment-methods {
    display: flex;
    height: fit-content;
    flex-basis: 50%;
    justify-content: flex-end;
    &__item {
      padding-right: 32px;
      line-height: 0;
      height: fit-content;
      opacity: 0.8;
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__copyright {
    &__info {
      color: $snow-white;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      opacity: 0.7;
    }
  }

  &__policy {
    display: flex;
    &__item {
      color:  $snow-white;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      padding-right: 32px;
      text-decoration: none;
      &:last-child {
        padding-right: 0;
      }
    }
  }

  @media (max-width: 1199.98px) {
    &__title {
      font-size: 52px;
      line-height: 52px;
    }

    &__vk {
      padding: 0 0 60px 0;

      &_telegram {
        padding: 60px 0 60px 0;
      }

      &_youtube {
        padding: 60px 0 0 0;
      }

      &__icon {
        margin-right: 80px;
        width: 100px;
        height: auto;
      }

      &__followers {
        &__figure {
            font-size: 48px;
            line-height: 48px;
          }
      }

      &__buttons {
          width: 49%;
      }
    }
  }

  @media (max-width: 991.98px) {
    padding: 250px 0 60px;

    &__title {
      font-size: 42px;
      line-height: 46px;
      margin-bottom: 70px;
    }

    &__vk {
      padding: 0 0 40px 0;
      align-items: flex-end;
      
      &__group {
        flex-direction: column;
      }

      &__icon {
        width: 80px;
        margin-bottom: 24px;
      }

      &__followers {
        &__number {
          align-items: baseline;
        }

        &__figure {
          font-size: 22px;
          line-height: 22px;
          margin-right: 4px;
        }
      }

      &__buttons {
        width: 66%;
      }

      &_telegram {
        padding: 40px 0 40px 0;
      }

      &_youtube {
        padding: 40px 0 0 0;
      }
    }

    &__sections {
      margin-bottom: 50px;
    }

    &__payment-methods {
      flex-basis: 40%;
      flex-wrap: wrap;
      &__item {
        padding-bottom: 16px;
      }
    }
  }
  
  @media (max-width: 767.98px) {
    &__title {
      font-size: 38px;
      line-height: 44px;
    }

    &__vk{
      &__followers{
        &__title {
          margin-bottom: 8px;
        }
      }

      &__buttons {
        width: 51%;
      }
    }

    &__sections {
      width: 100%;
      margin-bottom: 60px;
      order: 1;
      &__item:nth-child(-n+3) {
        padding-right: 40px;
      }
    }

    &__payment-methods {
      flex-basis: 100%;
      order: 2;
      margin-bottom: 70px;
      justify-content: flex-start;
      &__item {
        padding-bottom: 0;
      }
    }

    &__policy {
      flex-direction: column;
      width: 100%;
      order: 3;
      &__item {
        padding-bottom: 10px;
      }
    }

    &__copyright {
      order: 4;
    }
  }

  @media (max-width: 480px) {
    padding: 260px 0 60px;
    
    &__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 40px;
    }

    &__vk {
      align-items: flex-start;
      flex-direction: column;

      &__group {
        flex-direction: row;
        margin-bottom: 24px;
      }

      &__icon {
        width: 62px;
        
        flex-shrink: 0;
        margin-right: 20px;
        margin-bottom: 0;

      }

      &__followers {
        &__title {
          margin-bottom: 6px;
        }

        &__figure {
          font-size: 16px;
          line-height: 20px;
        }
      }
      
      &__buttons {
        width: 100%;
      }
    }

    &-social-media {
      margin-bottom: 60px;
    }

    &__sections {
      height: 180px;
      margin-bottom: 30px;
    }

    &__payment-methods {
      order: 3;
    }

    &__policy {
      order: 2;
      margin-bottom: 30px;
    }

    &__payment-methods {
      margin-bottom: 40px;

      &__item {
        &:nth-child(-n+3) {
          padding-bottom: 16px;
        }
      }
    }
  }

}