header {
    &.header {
        padding-top: 16px;
        padding-bottom: 0;

        @media (min-width: 1360px) {
            .container {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .logo {
        &__link {
        margin-right: 78px;

        @media (max-width: 991.98px) {
            margin-right: 0;
        }
        }
        &__image {
            @media (max-width: 480px) {
                width: 163.03px;
                height: 40px;
            }
        }

    }

    .navbar {
        &-nav {
            margin-top: 20px;

            .nav {
                &-link {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: $color-primary;
                    padding: 0;
                    padding-left: 0;
                }
            }
        }

        &-toggler {
            align-self: center;
            border: none;
            outline: 0;

            &:focus {
                border: none;
                outline: 0;
                box-shadow: none;
            }
        }

        &-expand-lg {
            .navbar {
                &-nav {
                    .nav {
                        &-item {
                            padding-left: 0;
                            padding-right: 40px;

                            &:last-child {
                                padding-right: 0;
                            }
                        }
                        &-link {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }

        &__button {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #1461d2;
            border: 1px solid #1461d2;
            border-radius: 8px;
            background: $snow-white;
            padding: 14px 30px;
            margin-top: 5px;
        }

        @media (max-width: 991.98px) {
            &-nav {
                margin-bottom: 24px;

                li {
                    padding-top: 6px;
                    padding-bottom: 6px;
                }
            }
        }
    }
}