.masterclasses {
  padding: 80px 0 86px;

  &__title {
    color: $color-primary;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 0;

    &_group {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 24px;
    }
  }

  &__btn {
    &-group {
      border-radius: 8px;
      

      &-input {
        &+.masterclasses__btn-group-button {
          &:hover {
            border-right-color: #BFBFBF;
            border-top-color: #BFBFBF;
            border-bottom-color: #BFBFBF;
            color: $color-primary;
          }
        }

        &:checked {
          &+.masterclasses__btn-group-button {
            border: 1px solid #1462D3;
            background-color: #1462D3;
            color: $snow-white;
            font-weight: 700;
          }
        }
      }

      &-button {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; 
        padding: 9px;
        border: 1px solid #BFBFBF;
        color: $color-primary;
        min-width: 80px;

        &.first-button {
          &:hover {
            border-left-color: #BFBFBF;
          }
        }

        &.second-button {
          min-width: 124px;
        }
 
        &:not(.first-button) {
          border-left-color: transparent;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__card {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #808080;
    height: 220px; 
    cursor: pointer;
    transition: transform .5s, border-color .5s;

    &_long {
      max-width: 650px;
      width: calc((100% - 20px) / 2);

      & .masterclasses__card_badge {
        margin-bottom: 50px;
      }

      & .masterclasses__card_title {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px; 
        width: 35%;
      }

      & .masterclasses__card_img {
        border-top-left-radius: 12px;
        border-bottom-right-radius: 20px;
        background-color: #e0e0e0;
        padding-top: 3px;
        padding-left: 3px;
        right: 0;
        bottom: 0;
        
        &-picture {
          width: 358px;
          height: 200px;
          border-top-left-radius: 12px;
          border-bottom-right-radius: 20px;

          &.-venom {
            background-image: url(/img/masterclasses/venom.jpg);
          }

          &.-yandex {
            background-image: url(/img/masterclasses/yandex-eda.jpg);
          }
        }
      }

      @media (max-width: 1399px) {
        max-width: 560px;

        & .masterclasses__card_title {
          width: 41%;
        }
        
        & .masterclasses__card_img {
          &-picture {
            width: 314px;
            height: 200px;
          }
        }
      }
    }

    &_short {
       width: calc((100% - 40px) / 3);

      & .masterclasses__card_content {
        position: relative;
      }

      & .masterclasses__card_badge {
        margin-bottom: 10px;
      }

      & .masterclasses__card_title {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
      }

      & .masterclasses__card_img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #e0e0e0;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        height: calc(220px - 100% - 36px);
        left: 0;
        top: calc(100% + 14px);

        &-picture {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 386px;
          height: 100%;
          
          background-size: auto;
          background-position-x: center;

          &.-avito {
            background-image: url(/img/masterclasses/avito.jpg);
          }

          &.-youtube {
            background-image: url(/img/masterclasses/youtube.jpg);
          }
        }
      }

      @media (max-width: 1399px) {
        & .masterclasses__card_img {
          &-picture {
            background-position-x: unset;
            width: 326px;
          }
        }
      }
    }

    &.-disabled {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border: 1px solid transparent;
      border-radius: 20px;
      transition: opacity .5s;
      opacity: 0;
      z-index: -1;
    }

    &_content {
      display: flex;
      flex-direction: column;
    }

    &_badge {
      width: max-content;
      padding: 4px 8px;
      border-radius: 20px;
      border-width: 1px;  
      border-style: solid;
      border-color: #808080;
      color: $color-primary;
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px; 
      text-transform: uppercase;
      transition: border-color .5s;
    }

    &_title {
      color: $color-primary;
      font-family: Inter;
      font-style: normal;
      margin-bottom: 0;
    }

    &_img {
      position: absolute;
      background-repeat: no-repeat;
      transition: background-color .5s;
    }

    &_button {
      border: none;
      background-image: url(/img/masterclasses/background-button.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;

      & .masterclasses__card_badge {
        position: absolute;
        border: none;
        padding: 0;
        color: #FFFFFF;
        text-align: right;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-transform: none;
        top: 82px;
        right: 30px;
        max-width: 120px;
      }
    }

    &_number {
      position: absolute;
      color: #F4F4F4;
      text-align: right;
      font-family: Inter;
      font-size: 140px;
      font-style: normal;
      font-weight: 900;
      line-height: 140px; 
      top: 122px;
      right: 24px;
    }
  }
}