.masterclasses {
  padding: 80px 0 86px;

  &__title {
    color: $color-primary;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 0;

    &_group {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 24px;
    }
  }

  &__btn {
    &-group {
      border-radius: 8px;
      

      &-input {
        &+.masterclasses__btn-group-button {
          &:hover {
            border-right-color: #BFBFBF;
            border-top-color: #BFBFBF;
            border-bottom-color: #BFBFBF;
            color: $color-primary;
          }
        }

        &:checked {
          &+.masterclasses__btn-group-button {
            border: 1px solid #1462D3;
            background-color: #1462D3;
            color: $snow-white;
            font-weight: 700;
          }
        }
      }

      &-button {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; 
        padding: 9px;
        border: 1px solid #BFBFBF;
        color: $color-primary;
        min-width: 80px;

        &.first-button {
          &:hover {
            border-left-color: #BFBFBF;
          }
        }

        &.second-button {
          min-width: 124px;
        }
 
        &:not(.first-button) {
          border-left-color: transparent;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  &__card {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #808080;
    height: 220px; 

    &_long {
      max-width: 650px;
      width: 49.5%;

      & .masterclasses__card_badge {
        margin-bottom: 50px;
      }

      & .masterclasses__card_title {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px; 
        width: 35%;
      }

      & .masterclasses__card_img {
        border-top-left-radius: 12px;
        border-bottom-right-radius: 20px;
        border-left: 3px solid #e0e0e0;
        border-top: 3px solid #e0e0e0;
        right: 0;
        bottom: 0;
        max-width: 312px;
        max-height: 201px;
        width: 56%;
        height: 93%;
      }

      @media (max-width: 1399px) {
        max-width: 560px;

        & .masterclasses__card_title {
          width: 41%;
        }
        
      }
    }

    &_short {
      max-width: 426px;
      width: 32.3%;

      & .masterclasses__card_badge {
        margin-bottom: 10px;
      }

      & .masterclasses__card_title {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
      }

      & .masterclasses__card_img {
        border-radius: 10px;
        border: 2px solid rgba(100, 100, 100, 0.20);
      }

      @media (max-width: 1399px) {
        max-width: 366px;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
    }

    &_badge {
      width: max-content;
      padding: 4px 8px;
      border-radius: 20px;
      border: 1px solid #808080;
      color: $color-primary;
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px; 
      text-transform: uppercase;
    }

    &_title {
      color: $color-primary;
      font-family: Inter;
      font-style: normal;
    }

    &_img {
      position: absolute;

      &-venom {
          background-image: url(/img/masterclasses/venom.jpg);
        }
    }
  }
}