.professions {
  padding-top: 121px;
  padding-bottom: 40px;
  margin-top: -41px;
  background: radial-gradient(135.64% 135.64% at 35.92% 127.13%, #0ED1FF 0%, #1461D2 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: $snow-white;
    margin-right: 21px;
    margin-bottom: 0;
     &-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 24px;
     }
  }
  &__buttons {
    &-group {
      display: flex;
    }}
  &__button {
    border: 1px solid #C9C9C9;
    border-radius: 20px;
    background-color: transparent;
    padding: 6px 11px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: $snow-white;
    display: flex;
    align-items: baseline;
    min-width: 89px;
    &_second {
      margin-left: 8px;
      min-width: 138px;
    }
    &-plus {
      width: 7px;
      height: 7px;
      margin-right: 4px;
    }
  }
  &__card {
    position: relative;
    width: 366px;
    height: 307px;
    &_img {
      margin-left: -8px;
      border-radius: 30px;
    }
    &_text {
      position: absolute;
      top: 24px;
      left: 24px;
    }
    &_details {
      display: flex;
      align-items: center;
      margin-bottom: 14px;
    }
    &_start {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      color: $snow-white;
      margin-right: 16px;
      margin-bottom: 0;
    }
    &_period {
      padding: 1px 8px;
      background: $snow-white;
      border-radius: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      color: #119CEA;
    }
    &_title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $snow-white;
      margin-bottom: 2px;
    }
    &_price {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      color: $snow-white;
      margin-right: 16px;
      &_group {
        display: flex;
      }
      &_del {
        position: relative;
        font-weight: 700;
        margin-right: 0;
        svg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  @media (max-width: 480px) { 
      padding-top: 124px; 
      margin-top: -62px;  
    }
  
}