.professions {
  padding-top: 120px;
  margin-top: -105px;
  background: radial-gradient(135.64% 135.64% at 35.92% 127.13%, #0ED1FF 0%, #1461D2 100%);

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: $snow-white;
    margin-bottom: 0;

     &-group {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 24px;
      gap: 18px;
     }
  }

  &__buttons {
    &-group {
      display: flex;
    }}

  &__button {
    border: 1px solid $snow-white;
    border-radius: 50px;
    background-color: transparent;
    padding: 7px 13px 7px 11px;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $snow-white;
    display: flex;
    align-items: center;
    cursor: default !important;

    &_second {
      margin-left: 8px;
      min-width: 138px;
    }

    &-plus {
      margin-right: 1px;
    }
  }

  &__card {
    position: relative;
    width: 366px;
    height: 307px;
    border-style: solid;
    border-width: 1px;
    border-color: $snow-white;
    border-radius: 30px;
    cursor: pointer;
    transition: all .5s;
    display: block;

    &--disabled {
      border-color: #E6E1E1;
      background: #C4C9CE4D;
      pointer-events: none; 
      cursor: default;
      
      .professions__card_img {
        filter: grayscale(1);
      }

      .professions__card_start {
        display: none;
      }

      .professions__card_title {
        color: #eeeaea;
        margin-bottom: 12px;
      }

      .professions__card_price_group {
        display: none;
      }

      .professions__card_period {
        background: #eeeaea;
        color: #3584CA;
      }
    }

    &-wrapper {
      padding-left: 8px;
    }

    &_img {
      position: absolute;
      left: -8px;
      bottom: 0;
      border-radius: 0px 0px 33px 41px;
    }
    &_text {
      position: absolute;
      top: 24px;
      left: 24px;
    }
    &_details {
      display: flex;
      align-items: center;
      margin-bottom: 14px;
    }
    &_start {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      color: $snow-white;
      margin-right: 16px;
      margin-bottom: 0;
    }
    &_period {
      padding: 1px 8px;
      background: $snow-white;
      border-radius: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      color: #119CEA;
      transition: color .5s;
    }
    &_title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $snow-white;
      margin-bottom: 2px;
    }
    &_price {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      color: $snow-white;
      margin-right: 16px;
      &_group {
        display: flex;
      }
      &_del {
        position: relative;
        font-weight: 700;
        margin-right: 0;
        svg {
          position: absolute;
          top: 5px;
          left: -1.4px;
          right: 29px;
          bottom: 3px;
          path {
            transition: stroke .5s;
          }
        }
      }
    }
  }

  &__swiper {
        &__button {
            position: absolute;
            top: 50%;
            transform: translateY(-86%);
            width: 24px;
            height: 56px;
            border: none;
            z-index: 99;
            cursor: pointer;
            background-repeat: no-repeat;

            &--prev {
                left: -50px;
                background-image: url('../img/chevron_left_icon_white.svg');
                
                background-position: center;
                background-size: 36px;
            }

            &--next {
                right: -50px;
                background-image: url('../img/chevron_right_icon_white.svg');
                
                background-position: center;
                background-size: 36px;
            }

            &--disabled {
                display: none;
            }

            @media (max-width: 1449px) {
                &--prev {
                    left: -35px;
                }

                &--next {
                    right: -35px;
                }
            }

            @media (max-width: 1399px) {
                &--prev {
                    left: -50px;
                }

                &--next {
                    right: -50px;
                }
            }

            @media (max-width: 1299px) {
                &--prev {
                    left: -35px;
                }

                &--next {
                    right: -35px;
                }
            }

            @media (max-width: 1249px) {
                &--prev {
                    left: -25px;
                }

                &--next {
                    right: -25px;
                }
            }

            @media (max-width: 1199.98px) {
                &--prev {
                    left: -50px;
                }

                &--next {
                    right: -50px;
                }
            }

            @media (max-width: 1089px) {
                &--prev {
                    left: -27px;
                }

                &--next {
                    right: -27px;
                }
            }

            @media (max-width: 1029px) {
                &--prev {
                    left: -16px;
                }

                &--next {
                    right: -16px;
                }
            }

            @media (max-width: 991.98px) {
                &--prev {
                    left: -70px;
                }

                &--next {
                    right: -70px;
                }
            }

            @media (max-width: 949px) {
                &--prev {
                    left: -63px;
                }

                &--next {
                    right: -63px;
                }
            }

            @media (max-width: 899px) {
                &--prev {
                    left: -40px;
                }

                &--next {
                    right: -40px; 
                }
            }

            @media (max-width: 849px) {
                &--prev {
                    left: -28px;
                }

                &--next {
                    right: -28px; 
                }
            }

            @media (max-width: 799px) {

                &--prev {
                    left: -20px;
                }

                &--next {
                    right: -20px; 
                }
            }

            @media (max-width: 767.98px) {
                &--prev {
                    display: none;
                }

                &--next {
                    display: none;
                }
            }
        }
    }

  @media (max-width: 1359px) {
    &__card {
      width: 362px;

      &_img {
        width: 369px;
        border-radius: 0px 0px 0px 40px;
      }
    }
  }

  @media (max-width: 1199.98px) {
    &__card {
      width: 280px;
      height: 312px;
      &_img {
        width: 283px;
        height: auto;
        left: -5px; 
        border-radius: 0px 0px 29px 35px;
      }
      &_period {
        padding: 2px 8px;
      }
      &_details {
        margin-bottom: 10px;
      }
      &_price_group {
        flex-direction: column;
      }
    }
  }

  @media (max-width: 991.98px) {
    &__title {
      font-size: 38px;
      margin-bottom: 17px;
      &-group {
        margin-bottom: 30px;
      }
    }

    &__card {
      width: 328px;
      &_img {
        width: 332px;
        border-radius: 0px 0px 31px 36px;
      }
    }
  }

  @media (max-width: 767.98px) {
    &__card {
      width: 248px;
      &_img {
        width: 253.42px;
        height: 118.58px;
        border-radius: 0px 0px 32px 35px;
      }
    }

    &__title {
      font-size: 32px;
      line-height: 44px;
    }
  }

  @media (max-width: 480px) { 
      padding-top: 120px;
      margin-top: -125px;  

      &__title {
        &-group {
          margin-bottom: 20px;
        }
      }
    }
}

.professionsSwiper {
  margin-left: -8px;
  padding-bottom: 40px;
  padding-right: 5px;
  margin-right: -5px;
  padding-top: 5px;

  @media (max-width: 767.98px) {
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 480px) { @media (max-width: 575.98px) {
      margin-left: -12px;
    }
  }
  
}



