.professions {
  padding-top: 121px;
  padding-bottom: 40px;
  margin-top: -41px;
  background: radial-gradient(135.64% 135.64% at 35.92% 127.13%, #0ED1FF 0%, #1461D2 100%);

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: $snow-white;
    margin-bottom: 0;

     &-group {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 24px;
      gap: 18px;
     }
  }

  &__buttons {
    &-group {
      display: flex;
    }}

  &__button {
    border: 1px solid #C9C9C9;
    border-radius: 20px;
    background-color: transparent;
    padding: 6px 11px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: $snow-white;
    display: flex;
    align-items: baseline;
    min-width: 89px;

    &_second {
      margin-left: 8px;
      min-width: 138px;
    }

    &-plus {
      width: 7px;
      height: 7px;
      margin-right: 4px;
    }
  }

  &__card {
    position: relative;
    width: 366px;
    height: 307px;
    border-style: solid;
    border-width: 1px;
    border-color: $snow-white;
    border-radius: 30px;
    cursor: pointer;
    transition: border-color .5s;

    &-wrapper {
      padding-left: 8px;
    }

    &_img {
      position: absolute;
      left: -8px;
      bottom: 0;
      border-radius: 0px 0px 30px 0px;
    }
    &_text {
      position: absolute;
      top: 24px;
      left: 24px;
    }
    &_details {
      display: flex;
      align-items: center;
      margin-bottom: 14px;
    }
    &_start {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      color: $snow-white;
      margin-right: 16px;
      margin-bottom: 0;
    }
    &_period {
      padding: 1px 8px;
      background: $snow-white;
      border-radius: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      color: #119CEA;
      transition: color .5s;
    }
    &_title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $snow-white;
      margin-bottom: 2px;
    }
    &_price {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      color: $snow-white;
      margin-right: 16px;
      &_group {
        display: flex;
      }
      &_del {
        position: relative;
        font-weight: 700;
        margin-right: 0;
        svg {
          position: absolute;
          top: 5px;
          left: -1.4px;
          right: 29px;
          bottom: 3px;
          path {
            transition: stroke .5s;
          }
        }
      }
    }
  }

  @media (max-width: 1199.98px) {
    &__card {
        width: 248px;
        height: 312px;
        &_img {
          width: 253.42px;
          height: 118.58px;
          left: -5px;
          border-radius: 0px 0px 32px 35px;
        }
        &_period {
          padding: 2px 8px;
        }
        &_details {
          margin-bottom: 10px;
        }
        &_price_group {
          flex-direction: column;
        }
      }
    }

  @media (max-width: 480px) { 
      padding-top: 124px; 
      margin-top: -62px;  

      &__title {
        &-group {
          margin-bottom: 20px;
        }
      }
    }
}

.professionsSwiper {
  margin-left: -8px;
}


