.reviews {
  &__title {
    color: $color-primary;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    margin-bottom: 40px;
  }
}

.reviewsgrid {
  &__wrap {
    font-family: 'Lato';
    box-sizing: border-box;
    column-count: 4;
    margin-top: 70px;
  }

  &-item {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    will-change: transform;
    max-width: 260px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #DCDCDC;
    background: #F5F5F5;
    box-shadow: 0px 17.34720802307129px 13.877766609191895px 0px rgba(0, 0, 0, 0.04), 0px 138.53880310058594px 110.83103942871094px 0px rgba(0, 0, 0, 0.07);
    
    &__head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 15px;
    }

    &__title {
      margin: 0;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 700;
      color: #09284a;
    }

    &__desc {
      color: #7d7d7d;
      font-size: 12px;
    }

    &__image {
      min-width: 50px;
      max-width: 50px;
      min-height: 50px;
      max-height: 50px;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
      line-height: 0;
      margin-right: 15px;

      & img {
        width: 100%;
        object-fit: cover;
      }
    }

    &__icon {
      width: 30px;
      margin-right: 8px;
    }

    &__body {
      & p {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 22px;
        color: #09284a;
      } 
    }

    &__footer {
      display: flex;
      align-items: center;
      text-decoration: none;
      width: 100%;
      color: #ff8562;
      margin-top: 15px;

      & span {
        padding-bottom: 2px;
        font-size: 14px;
      }
    }
  }

  &-btn {
    display: none;
    width: 100%;
    border: none;
    margin: 0;
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    padding: 14px 0 12px;
  }

  @media (max-width: 1140px) {
    padding-top: 85px;
    padding-bottom: 55px;

    &-item {
      display: none;

      &_active {
        display: block;

        &_1140 {
          display: block;
        }
      }
    }

    &__wrap {
      -webkit-column-count: 2;
      column-count: 2;
      max-width: 620px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }

    &-btn {
      display: block;
      margin-top: 25px;
      max-width: 620px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 720px) {
    padding-top: 50px;
    padding-bottom: 25px;

    &__wrap {
      -webkit-column-count: 1;
      column-count: 1;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px;
    }
  }
}


