.start-learning {
    background-image: url("../img/img-head.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 274px) -35px;
    background-size: auto;
    min-height: 600px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 452px;
        min-height: 600px;

        &_wrapper {
            max-width: 462px;
        }

        &--title {
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 20px;
        }

        &--subtitle {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 20px;
        }

        &--btn {
            font-family: 'Inter';
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            padding: 15px 24px;
            background: #1462D3;
            border-radius: 8px;
            border: 0;
        }

        @media (max-width: 991.98px) {
            min-height: auto;
        }

        @media (max-width: 575.98px) {
            &--title {
                font-size: 32px;
                line-height: 38px;
            }

            &--subtitle {
                font-size: 16px;
                line-height: 20px;
            }

            &--btn {
                font-size: 16px;
                line-height: 20px;
                width: 100%;
            }
        }
    }

    &__image {
        position: relative;
        height: 100%;


        @media (max-width: 991.98px) {
            min-height: 525px;
        }

        @media (max-width: 767.98px) {
            min-height: 430px;
        }

        @media (max-width: 575.98px) {
            min-height: 350px;
        }

        @media (max-width: 480px) {
            min-height: 300px;
        }
    }

    @media (max-width: 1359.98px) {
        background-position: calc(50% + 250px) -25px;
        background-size: 700px auto;
        min-height: 530px;

        &__content {
            min-height: 475px;
            &--subtitle {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1199.98px) {
        background-position: calc(50% + 240px) 0;
        background-size: 500px auto;
        min-height: 450px;
        &__content {
            min-height: 450px;
            &--title {
                font-size: 38px;
            }
            &--subtitle {
                margin-bottom: 25px;
            }
        }
    }  

    @media (max-width: 991.98px) {
        background-position: center 0;
        background-size: 700px auto;
        &__content {
            max-width: 100%;
            min-height: 236px;
            &_wrapper {
                max-width: 100%;
            }
            &--title {
                font-size: 37px;
            }
        }
    }

    @media (max-width: 767.98px) {
        background-size: 600px auto;

        &__content {
            min-height: auto;
        }
    }

    @media (max-width: 575.98px) {
        background-size: 500px auto;
    }

    @media (max-width: 480px) {
        background-size: 390px auto;
    }
}