.timeline-section {
    background-color: #141414;
    background-image: radial-gradient(60.62% 75.01% at 82.94% 86.7%, rgba(20, 97, 210, 0.6) 0%, rgba(20, 97, 210, 0) 87.98%);
    padding: 140px 0 0;
    position: relative;

    &::after {
        content: '';
        display: block;
        bottom: 0;
        position: absolute;
        right: 0;
        left: 0;
        height: 120px;
        width: 100%;
        background-color: white;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }

    .timeline-description {
        display: flex;
        flex-direction: column;

        &-head {
            max-width: 43%;
            margin-bottom: 80px;

            &__title {
                font-family: 'Inter';
                font-weight: 700;
                font-size: 60px;
                line-height: 60px;
                color: $color-secondary;
                margin-bottom: 24px;
            }

            &__subtitle {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                color: $snow-white;
                opacity: 0.8;
                width: 115%;
                margin-bottom: 0;
            }

            @media (max-width: 1199.98px) {
                max-width: 400px;
                padding-right: 20px;

                &__title {
                    font-size: 48px;
                    line-height: 54px;
                }

                &__subtitle {
                    width: 105%;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            @media (max-width: 991.98px) {
                &__title {
                    font-size: 32px;
                    line-height: 36px;
                }

                &__subtitle {
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            @media (max-width: 767.98px) {
                max-width: 100%;
                margin-bottom: 30px;

                &__title {
                    font-size: 32px;
                    line-height: 38px;
                }

                &__subtitle {
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            @media (max-width: 480px) {
                padding-right: 0;
                &__title {
                    margin-bottom: 12px;
                }
                &__subtitle {
                    width: 100%;
                }
            }
        }

        &-months {
            display: flex;
            flex-direction: column;
            margin-bottom: 195px;


            &__line {
                width: 100%;
                height: 10px;
                display: flex;
                align-items: center;
                position: relative;

                &--line {
                    width: 100%;
                    border: 1px solid #727272;

                    &-hrb {
                        position: absolute;
                        height: 10px;
                        width: 2px;
                        background-color: #FFFFFF;
                        border-radius: 2px;

                        &.hrb-1 {
                            left: 0;
                        }

                        &.hrb-2 {
                            left: calc((100% / 6) * 1);
                        }

                        &.hrb-3 {
                            left: calc((100% / 6) * 2);
                        }

                        &.hrb-4 {
                            left: calc((100% / 6) * 3);
                        }

                        &.hrb-5 {
                            left: calc((100% / 6) * 4);
                        }

                        &.hrb-6 {
                            left: calc((100% / 6) * 5);
                        }
                    }

                    &-hrs {
                        position: absolute;
                        height: 3px;
                        width: 2px;
                        background-color: #FFFFFF;
                        border-radius: 2px;

                        &.hrs-1 {
                            left: calc((100% / 12) * 1);
                        }

                        &.hrs-2 {
                            left: calc((100% / 12) * 3);
                        }

                        &.hrs-3 {
                            left: calc((100% / 12) * 5);
                        }

                        &.hrs-4 {
                            left: calc((100% / 12) * 7);
                        }

                        &.hrs-5 {
                            left: calc((100% / 12) * 9);
                        }

                        &.hrs-6 {
                            left: calc((100% / 12) * 11);
                        }
                    }

                    &-arrow {
                        border-top: 2px solid #727272;
                        border-right: 2px solid #727272;
                        position: absolute;
                        left: 99%;
                        height: 10px;
                        width: 10px;
                        transform: rotate(45deg);

                    }

                    &-text {
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        position: absolute;
                        color: $color-secondary;
                        top: 20px;

                        &.text-1 {
                            left: 0;
                        }

                        &.text-2 {
                            left: calc((100% / 6) * 1);
                        }

                        &.text-3 {
                            left: calc((100% / 6) * 2);
                        }

                        &.text-4 {
                            left: calc((100% / 6) * 3);
                        }

                        &.text-5 {
                            left: calc((100% / 6) * 4);
                        }

                        &.text-6 {
                            left: calc((100% / 6) * 5);
                        }
                    }

                    &-text-sm {
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: $color-secondary;
                        display: none;
                    }
                }

                @media (max-width: 1199.98px) {
                    width: 10px;
                    height: 100%;
                    justify-content: flex-end;

                    &--line {
                        width: 1px;
                        height: 100%;

                        &-hrb {
                            position: absolute;
                            height: 2px;
                            width: 10px;
                            background-color: #FFFFFF;
                            border-radius: 2px;

                            &.hrb-1 {
                                left: 99%;
                                transform: translate(-50%);
                                top: 0;
                            }

                            &.hrb-2 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 6) * 1);
                            }

                            &.hrb-3 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 6) * 2);
                            }

                            &.hrb-4 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 6) * 3);
                            }

                            &.hrb-5 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 6) * 4);
                            }

                            &.hrb-6 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 6) * 5);
                            }
                        }

                        &-hrs {
                            position: absolute;
                            height: 2px;
                            width: 3px;
                            background-color: #FFFFFF;
                            border-radius: 2px;

                            &.hrs-1 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 12) * 1);
                            }

                            &.hrs-2 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 12) * 3);
                            }

                            &.hrs-3 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 12) * 5);
                            }

                            &.hrs-4 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 12) * 7);
                            }

                            &.hrs-5 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 12) * 9);
                            }

                            &.hrs-6 {
                                left: 99%;
                                transform: translate(-50%);
                                top: calc((100% / 12) * 11);
                            }
                        }

                        &-arrow {
                            border-top: 2px solid #727272;
                            border-right: 2px solid #727272;
                            position: absolute;
                            left: 91%;
                            top: 99%;
                            height: 10px;
                            width: 10px;
                            transform: rotate(135deg);

                        }

                        &-text {
                            display: none;
                        }

                        &-text-sm {
                            display: block;
                            position: absolute;
                            left: 0;

                            &.text-1 {
                                top: calc(0% - 8px);
                            }

                            &.text-2 {
                                top: calc(((100% / 6) * 1) - 8px);
                            }

                            &.text-3 {
                                top: calc(((100% / 6) * 2) - 8px);
                            }

                            &.text-4 {
                                top: calc(((100% / 6) * 3) - 8px);
                            }

                            &.text-5 {
                                top: calc(((100% / 6) * 4) - 8px);
                            }

                            &.text-6 {
                                top: calc(((100% / 6) * 5) - 8px);
                            }
                        }
                    }
                }

                @media (max-width: 767.98px) {
                    height: auto;
                }
            }

            &__blocks {
                margin-bottom: 20px;

                &-item {
                    background: #24272C;
                    border-radius: 20px;
                    padding: 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    height: 100%;

                    &--date {
                        font-family: 'Inter';
                        font-weight: 700;
                        font-size: 10px;
                        line-height: 14px;
                        text-transform: uppercase;
                        color: $color-secondary;
                        opacity: 0.5;
                        margin-bottom: 16px;
                    }

                    &--title {
                        font-family: 'Inter';
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: $color-secondary;
                        margin-bottom: 7px;
                    }

                    &--text {
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: $color-secondary;
                        margin-bottom: 0;
                    }
                }
            }

            @media (max-width: 1199.98px) {
                flex-direction: row;

                &__line {
                    width: 65px;
                    min-width: 65px;
                }

                &__blocks {
                    width: 100%;
                    margin: 0;

                    .col {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }

                    &-item {
                        width: 102.5%;
                        padding: 16px;
                    }
                }
            }

            @media (max-width: 991.98px) {
                &__blocks {
                    &-item {
                        width: 105.5%;
                    }
                }
            }

            @media (max-width: 767.98px) {
                &__blocks {
                    &-item {
                        width: 102.6%;
                    }
                }
            }

            @media (max-width: 480px) {
                &__blocks {
                    &-item {
                        width: 105%;
                    }
                }
            }
        }

        @media (max-width: 1199.98px) {
            flex-direction: row;
        }

        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }

    @media (max-width: 1199.98px) {
        padding: 80px 0 0;
        &::after {
            height: 94px;
        }

        .timeline {
            &-description {
                &-months {
                    margin-bottom: 182px;
                    
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        padding: 60px 0 0;
    }

    @media (max-width: 575.98px) {
       background-image: radial-gradient(99% 25% at 74% 80%, rgba(20, 97, 210, 0.6) 0%, rgba(20, 97, 210, 0) 80.98%);   
       
       &::after {
        clip-path: polygon(0 75%, 100% 48%, 100% 100%, 0% 100%);
        height: 330px;
        } 

       .timeline {
            &-description {
                &-months {
                   margin-bottom: 110px;
                } 
            }
        }
    }

    @media (max-width: 480px) {
        background-image: radial-gradient(99% 20% at 79% 83%, rgba(20, 97, 210, 0.6) 0%, rgba(20, 97, 210, 0) 80.98%);
        .timeline {
            &-description {
                &-months {
                   margin-bottom: 80px;
                } 
            }
        }

        &::after {
                clip-path: polygon(0 65%, 100% 45%, 100% 100%, 0% 100%);
            }

    }

    .timeline-globe {
        background-image: url(../img/globe.png);
        background-position: left calc(50% + 363px) bottom 5px;
        background-repeat: no-repeat;
        min-height: 710px;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        &__students {
            margin-top: -60px;
            &_title {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 60px;
                color: $snow-white;
                max-width: 40%;
                margin-bottom: 24px;
            }
            &_subtitle {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                color: $snow-white;
                opacity: 0.8;
                max-width: 50%;
            }
        }

        @media (max-width: 1199.98px) {
            &__students {
                    margin-top: -18px;
                    &_title {
                        font-size: 52px;
                        line-height: 54px;
                        margin-bottom: 26px;
                    }

                    &_subtitle {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }
 
        }

        @media (max-width: 991.98px) {
             &__students {
                &_title {
                    font-size: 38px;
                    line-height: 44px;
                }

                &_subtitle {
                    font-size: 18px;
                    line-height: 24px;
                    }
             }
   
        }

        @media (max-width: 767.98px) {
            &__students {
                &_title {
                    font-size: 34px;
                    line-height: 40px;
                    max-width: 42%;
                    }

                    &_subtitle {
                    font-size: 17px;
                    line-height: 22px;
                    }
            }
        }

        @media (max-width: 575.98px) {
            background-position: left calc(50% + 40px) top 150px;
            min-height: 745px;
            align-items: flex-start;
            background-size: 620px auto;
            &__students {
                &_title {
                    font-size: 32px;
                    line-height: 38px;
                    max-width: 100%;
                }

                &_subtitle {
                    font-size: 16px;
                    max-width: 100%; 
                }
            }
        }

        @media (max-width: 480px) {
            background-position: left calc(50% + 86px) top 215px;
            background-size: 500px auto;
            &__students {
                &_title {
                    margin-bottom: 16px;
                    max-width: 98%;
                }

                &_subtitle {
                    line-height: 20px;
                }
            }

            
        }
    }
}

